@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}

.arrow {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.arrow.active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.swiper {
  --swiper-theme-color: white;
  --swiper-navigation-color: white;
  --swiper-navigation-size: 30px;
}

.mainMenu > li > a {
  display: block;
}

.circle {
  stroke-dasharray: 301.59px 301.59px;
  stroke-dashoffset: 301.59px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0.08, 0, 0.97);
          transition-timing-function: cubic-bezier(0.4, 0.08, 0, 0.97);
}

.readMore:hover .circle {
  stroke-dashoffset: 0;
}

.blob {
  width: 300px;
  height: 300px;
  margin: 10% auto;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blob::before {
  border: 2px solid #fff;
  border-radius: 58% 42% 48% 53%/47% 60% 36% 53%;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: rotate 16s linear infinite;
          animation: rotate 16s linear infinite;
}

.blob::after {
  border: 2px solid #fff;
  border-radius: 48% 42% 48% 53%/47% 60% 36% 53%;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: rotate 6s linear infinite;
          animation: rotate 6s linear infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-color: #D6CDC6;
  }
  50% {
    border-color: white;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-color: #D6CDC6;
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-color: #D6CDC6;
  }
  50% {
    border-color: white;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-color: #D6CDC6;
  }
}
@layer components {
  .horizon__center {
    @apply flex items-center justify-center;
  }
  .vertical__center {
    @apply absolute left-1/2 transform -translate-x-1/2;
  }
  .section {
    @apply max-w-7xl w-full mx-auto px-4 py-8 sm:px-6 lg:px-36 md:py-24 gap-6 md:gap-16 flex flex-col;
  }
  .nav__BTN {
    @apply text-lg text-white hover:text-custom-beige whitespace-nowrap;
  }
  .nav__SubBTN {
    @apply flex items-center gap-x-3.5 py-2 px-3 rounded-md text-base text-custom-brown hover:bg-custom-beige/30;
  }
  .title {
    @apply text-custom-darkBrown border-l-4 md:border-l-8 border-custom-darkBrown/20 pl-5;
  }
  .afterText {
    @apply after:ml-0.5 after:text-custom-brown/5 after:text-9xl after:absolute after:left-0 after:bottom-0 after:hidden after:sm:block;
  }
  .toTop__BTN {
    @apply vertical__center  text-center text-sm md:text-base bg-custom__primary hover:bg-gray-900 transition duration-150 rounded-full  px-3 py-1 md:px-5 md:py-2 -top-2 md:top-5 lg:top-10;
  }
  .pagination__BTN {
    @apply min-h-[38px] min-w-[38px] flex justify-center items-center text-gray-800 py-2 px-3 text-sm rounded-lg hover:bg-custom-brown hover:text-white transition-all;
  }
  .keyword {
    @apply rounded-full bg-custom-beige/80 p-6 sm:p-8 lg:p-12 aspect-square inline-flex items-center justify-center text-sm sm:text-xl lg:text-2xl text-center h-full hover:text-white hover:bg-custom-brown transition-all duration-300 cursor-default;
  }
  .input {
    @apply py-3 px-4 pl-11 block w-full bg-white border-custom-beige placeholder-custom-brown/70 text-sm focus:z-10 focus:border-custom-brown focus:ring-custom-brown;
  }
}
@screen sm {
  #checkIn__bg {
    background-image: url(img/line.png);
    background-size: 100%;
    @apply bg-contain bg-no-repeat bg-center bg-opacity-20;
  }
}
#bg {
  background-image: url(img/bg.png);
  @apply bg-repeat bg-top bg-contain;
}/*# sourceMappingURL=input.css.map */