// scroll smooth
html{
    scroll-behavior: smooth;
}

// arrow icon
.arrow {
    transform: rotate(0deg);
    // transition: all 0.5s;

    &.active {
        transform: rotate(90deg);
    }
}

// swiper
.swiper{
    --swiper-theme-color: white;
    --swiper-navigation-color: white;
    --swiper-navigation-size: 30px;
  }

.mainMenu > li > a{
    display: block;
}

// readMore BTN
.circle {
stroke-dasharray: 301.59px 301.59px;
stroke-dashoffset: 301.59px;
transition: all 0.8s;
transition-timing-function: cubic-bezier(.4,.08,0,.97);
}

.readMore:hover .circle {
    stroke-dashoffset: 0;
}

// Blob
.blob{
    width:300px;
    height:300px;
    margin:10% auto;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  .blob::before{
    border:2px solid #fff;
    border-radius: 58% 42% 48% 53% / 47% 60% 36% 53%;
    width:100%;
    height:100%;
    content:'';
    position:absolute;
    left:0; top:0;
    animation: rotate 16s linear infinite;
  }
  
  .blob::after{
    border:2px solid #fff;
    border-radius: 48% 42% 48% 53% / 47% 60% 36% 53%;
    width:100%;
    height:100%;
    
    content:'';
    position:absolute;
    left:0; top:0;
    animation: rotate 6s linear infinite;
  }
  @keyframes rotate{
    0%{
      transform:rotate(0deg);
      border-color:#D6CDC6;
    }
    50%{
      border-color:#ffff;
    }
    100%{
      transform:rotate(360deg);
      border-color:#D6CDC6;
    }
  }